:root {
    --col-1: #000000;
    --col-2: #ffffff;
    --col-3: #000000;
}

body {
    margin: 0;
    background-color: var(--col-3);
}

.window-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 0;
    border: var(--col-2) 1px solid;
}

.window-container>[w-type="header"] {
    background-color: var(--col-2);
    color: var(--col-1);
    user-select: none;
}
.window-container>[w-type="body"] {
    flex-grow: 1;
    margin: 0.5em;
    background-color: var(--col-1);
    color: var(--col-2);
}
.window-container>[w-type="footer"] {
    bottom: 0;
    background-color: var(--col-2);
    color: var(--col-1);
    user-select: none;
}

.window-container>[w-type="header"]>span {
    cursor: default;
}
.window-container>[w-type="body"]>iframe {
    height: 100%;
    width: 100%;
}
.window-container>[w-type="footer"]>span {
    cursor: default;
}

