:root {
    --col-1: #000000;
    --col-2: #ffffff;
    --col-3: #000000;
}

body {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--col-3);
}

.app-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 0;
    border: var(--col-2) 1px solid;
}